# **Borrador: Elección de dataset y creación de funciones**

In [66]:
#Importación de librerias 
import pandas as pd 
import numpy as np

In [65]:
#Lectura de los datos 
movies = pd.read_csv("Datasets\movies_dataset.csv")
movies_1 = pd.read_excel("Datasets\movies_dataset.xlsx")
movies_2 = pd.read_excel("Datasets\movies_dataset(1).xlsx")
creditos = pd.read_csv("Datasets\credits.csv")

Movies.csv

In [ ]:
movies.head(2)

In [ ]:
movies.info()

Movies.xlsx

In [ ]:
movies_1.head(2)

In [ ]:
movies_1.info()

Movies(1).xlsx

In [ ]:
movies_2.head(2)

In [ ]:
movies_2.info()

Creditos

In [72]:
creditos.crew.sample(2).values

array(["[{'credit_id': '55d513bc92514102d2002c3a', 'department': 'Directing', 'gender': 0, 'id': 61440, 'job': 'Director', 'name': 'Lance Bangs', 'profile_path': '/smkFj23FrTWrEb93m0IhoCTrfeU.jpg'}]",
       "[{'credit_id': '55b25040925141736400248d', 'department': 'Production', 'gender': 1, 'id': 64605, 'job': 'Casting', 'name': 'Sharon Forrest', 'profile_path': None}, {'credit_id': '55b24f519251411e180101b6', 'department': 'Directing', 'gender': 1, 'id': 205082, 'job': 'Director', 'name': 'Shauna MacDonald', 'profile_path': '/nZZOxvDubpGhAMEbPqVULG84ayg.jpg'}, {'credit_id': '55b24fdfc3a368726500a4db', 'department': 'Production', 'gender': 1, 'id': 205082, 'job': 'Producer', 'name': 'Shauna MacDonald', 'profile_path': '/nZZOxvDubpGhAMEbPqVULG84ayg.jpg'}, {'credit_id': '55b24f5dc3a368246c00a437', 'department': 'Writing', 'gender': 1, 'id': 205082, 'job': 'Writer', 'name': 'Shauna MacDonald', 'profile_path': '/nZZOxvDubpGhAMEbPqVULG84ayg.jpg'}, {'credit_id': '55b24ffd9251411e0f0105e5', 'department': 'Sound', 'gender': 0, 'id': 550644, 'job': 'Music', 'name': 'Patric Caird', 'profile_path': None}, {'credit_id': '55b250139251411e0f0105e8', 'department': 'Camera', 'gender': 1, 'id': 1080724, 'job': 'Director of Photography', 'name': 'Maya Bankovic', 'profile_path': None}, {'credit_id': '55b24eebc3a368210a002746', 'department': 'Directing', 'gender': 0, 'id': 1490045, 'job': 'Director', 'name': 'Kate Johnston', 'profile_path': None}, {'credit_id': '55b24fc9c3a3682190002560', 'department': 'Production', 'gender': 0, 'id': 1490045, 'job': 'Producer', 'name': 'Kate Johnston', 'profile_path': None}, {'credit_id': '55b24f809251411e14010831', 'department': 'Writing', 'gender': 0, 'id': 1490045, 'job': 'Writer', 'name': 'Kate Johnston', 'profile_path': None}, {'credit_id': '55b24fb3c3a368210a002760', 'department': 'Production', 'gender': 0, 'id': 1490047, 'job': 'Producer', 'name': 'Matthew Gorman', 'profile_path': None}, {'credit_id': '55b25028925141788b0026dc', 'department': 'Editing', 'gender': 0, 'id': 1490049, 'job': 'Editor', 'name': 'Tiffany Beaudin', 'profile_path': None}]"],
      dtype=object)

In [73]:
creditos.crew

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
45471    [{'credit_id': '5894a97d925141426c00818c', 'de...
45472    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
45473    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
45474    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
45475    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 45476, dtype: object

- **Conclusión EXTRACT**: Los datasets contienen la misma información a excepción de un registro adicional que contiene el csv en la columna "tagline". Existen columnas anidadas en todos los datasets y  diferencias respecto al formato de la columna release_date y una columna tipo float. Es por ello que se decide trabajar con el archivo CSV.

-----------------

# **Funciones**

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Leemos el dataset limpiado
df = pd.read_csv('movies_final.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   45451 non-null  int64
 1   title                45451 non-null  object
 2   genre                45451 non-null  object
 3   collection           45451 non-null  object
 4   original_language    45440 non-null  object
 5   spoken_language      45451 non-null  object
 6   runtime              45205 non-null  float64
 7   release_date         45451 non-null  object
 8   release_year         45451 non-null  int64
 9   director_name        44617 non-null  object
 10  companies            45451 non-null  object
 11  production_countrie  45451 non-null  object
 12  status               45371 non-null  object
 13  overview             44510 non-null  object
 14  popularity           45451 non-null  float64
 15  vote_average         45451 non-null  float64
 16  vote_count           45451 non-null  float64
 17  budget               45451 non-null  float64
 18  revenue              45451 non-null  float64
 19  return               45451 non-null  float64
 20  tagline              20425 non-null  object
dtypes: float64(7), int64(2), object(12)
memory usage: 7.3+ MB

In [38]:
mask = df[df['runtime'].isnull() ]

1. Peliculas idioma

In [3]:
df.original_language.unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay',
       'kn', 'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu',
       'lb', 'si'], dtype=object)

In [4]:
def peliculas_idioma(idioma:str):
    '''Ingresas el idioma, retornando la cantidad de peliculas producidas en el mismo'''
    # Mascara para obtener solo las filas con el idioma proporcionado
    peliculas_en_idioma = df[df['original_language'] == idioma]
    
    # Contar el número de filas resultantes, que corresponde a la cantidad de películas en ese idioma
    respuesta = peliculas_en_idioma.shape[0]

    return {'idioma':idioma, 'cantidad':respuesta}

In [5]:
peliculas_idioma('en')

{'idioma': 'en', 'cantidad': 32249}

2. Duración de pelicula

In [5]:
df.title.values

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', ..., 'Betrayal',
       'Satan Triumphant', 'Queerama'], dtype=object)

In [32]:
def peliculas_duracion(pelicula:str):
    '''Ingresas la pelicula, retornando la duracion y el año'''
    #Mascara para obtener la fila de la pelicula buscada
    pelicula_buscada = df[df['title'] == pelicula]

    #Extraemos los valores de las columnas necesaria
    duracion = int(pelicula_buscada['runtime'].values[0])
    anio = int(pelicula_buscada['release_year'].values[0])

    return {'pelicula':pelicula, 'duracion':duracion, 'anio':anio}

In [33]:
peliculas_duracion('Toy Story')

{'pelicula': 'Toy Story', 'duracion': 81, 'anio': 1995}

3. Franquicia

In [43]:
df.collection.unique()

array(['Toy Story Collection', 'None', 'Grumpy Old Men Collection', ...,
       'Ducobu Collection', 'Mister Blot Collection',
       'Red Lotus Collection'], dtype=object)

In [56]:
def franquicia(franquicia:str):
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    #Mascara para seleccionar las peliculas de una misma franquicia 
    peliculas_franquicia = df[df['collection'] == franquicia]

    #Se calcula la cantidad de peliculas
    cantidad = peliculas_franquicia.shape[0]

    #Se calcula la ganancia total, que se considera como el Revenue que esta definida como:
    ##revenue: 'Recaudación total de la pelicula '
    ganancia_total = peliculas_franquicia['revenue'].sum()

    #Se calcula el promedio usando la columna revenue
    ganancia_promedio = peliculas_franquicia['revenue'].mean()

    return {'franquicia':franquicia, 'cantidad':cantidad, 'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio}

In [59]:
franquicia('Red Lotus Collection')

{'franquicia': 'Red Lotus Collection',
 'cantidad': 1,
 'ganancia_total': 0.0,
 'ganancia_promedio': 0.0}

4. Peliculas por pais

In [74]:
df.production_countrie.unique()

array(['United States of America', 'Germany, United States of America',
       'United Kingdom, United States of America', ...,
       'Poland, Czech Republic, Slovakia', 'Cuba, Germany, Spain',
       'Egypt, Italy, United States of America'], dtype=object)

In [78]:
def peliculas_pais(pais:str):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    # Utilizar 'str.contains()' para verificar en qué filas se encuentra el país proporcionado
    peliculas_en_pais = df[df['production_countrie'].str.contains(pais)]
    
    # Contar el número de filas resultantes, que corresponde a la cantidad de películas en ese país
    cantidad_peliculas = peliculas_en_pais.shape[0]
    
    # Crear y retornar un diccionario con la información solicitada
    return {'pais': pais, 'cantidad': cantidad_peliculas}

In [80]:
peliculas_pais('United States of America')

{'pais': 'United States of America', 'cantidad': 21176}

5. Productoras exitosas

In [81]:
df.companies.unique()

array(['Pixar Animation Studios',
       'TriStar Pictures, Teitler Film, Interscope Communications',
       'Warner Bros., Lancaster Gate', ...,
       'Westdeutscher Rundfunk (WDR), Working Title Films, 20th Century Fox Television, CanWest Global Communications',
       'Sine Olivia', 'Yermoliev'], dtype=object)

In [82]:
def productoras_exitosas(productora:str):
    '''Ingresas la productora, entregandote el revunue total y la cantidad de peliculas que realizo '''
    # Utilizar 'str.contains()' para verificar en qué filas se encuentra el país proporcionado
    peliculas_productora = df[df['companies'].str.contains(productora)]
    
    # Sumamos la columna revenue de los datos filtrados 
    revenue_total = peliculas_productora['revenue'].sum()

    # Contar el número de filas resultantes, que corresponde a la cantidad de películas en ese país
    cantidad_peliculas = peliculas_productora.shape[0]

    return {'productora':productora, 'revenue_total': revenue_total,'cantidad':cantidad_peliculas}

In [84]:
productoras_exitosas('Teitler Film')

{'productora': 'Teitler Film', 'revenue_total': 327118750.0, 'cantidad': 2}

6. Director

In [87]:
df.director_name.unique()

array(['John Lasseter', 'Joe Johnston', 'Howard Deutch', ...,
       'Shanra J. Kehl', 'Aaron Osborne', 'Daisy Asquith'], dtype=object)

In [6]:
def get_director(nombre_director:str):
    ''' Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma. En formato lista'''
    #Mascara para seleccionar las peliculas de un mismo director 
    peliculas_director = df[df['director_name'] == nombre_director]
    if peliculas_director.empty:
        return f'No se encontraron películas del director {nombre_director}.'

    #Calcular el éxito total del director calculando el retorno de todas sus películas sumadas
    
    retorno = peliculas_director['revenue'].sum()/peliculas_director['budget'].sum()

    # Obtener información detallada de cada película
    peliculas_info = []
    for index, row in peliculas_director.iterrows():
        pelicula_info = {
            'titulo': row['title'],
            'anio': row['release_year'],
            'retorno': row['return'],
            'costo': row['budget'],
            'ganancia': row['revenue']
        }
        peliculas_info.append(pelicula_info)
    
    # Crear y retornar un diccionario con la información solicitada
    return {
        'director': nombre_director,
        'retorno_total_director': retorno,
        'peliculas': peliculas_info
        }

In [10]:
get_director('John Lasseter')

{'director': 'John Lasseter',
 'retorno_total_director': 3.986827365714286,
 'peliculas': [{'titulo': 'Toy Story',
   'anio': 1995,
   'retorno': 12.4518011,
   'costo': 30000000.0,
   'ganancia': 373554033.0},
  {'titulo': 'Luxo Jr.',
   'anio': 1986,
   'retorno': 0.0,
   'costo': 0.0,
   'ganancia': 0.0},
  {'titulo': 'Cars',
   'anio': 2006,
   'retorno': 3.849859575,
   'costo': 120000000.0,
   'ganancia': 461983149.0},
  {'titulo': 'Cars 2',
   'anio': 2011,
   'retorno': 2.79926198,
   'costo': 200000000.0,
   'ganancia': 559852396.0},
  {'titulo': 'Tin Toy',
   'anio': 1988,
   'retorno': 0.0,
   'costo': 0.0,
   'ganancia': 0.0},
  {'titulo': "Red's Dream",
   'anio': 1987,
   'retorno': 0.0,
   'costo': 0.0,
   'ganancia': 0.0},
  {'titulo': 'Knick Knack',
   'anio': 1989,
   'retorno': 0.0,
   'costo': 0.0,
   'ganancia': 0.0},
  {'titulo': 'Mater and the Ghostlight',
   'anio': 2006,
   'retorno': 0.0,
   'costo': 0.0,
   'ganancia': 0.0}]}

-----------------------------

In [3]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("movies_final.csv")

In [5]:
column_names = df.columns.tolist()

print(column_names)

['id', 'title', 'genre', 'collection', 'original_language', 'spoken_language', 'runtime', 'release_date', 'release_year', 'director_name', 'companies', 'production_countrie', 'status', 'overview', 'popularity', 'vote_average', 'vote_count', 'budget', 'revenue', 'return', 'tagline']